.body{
    margin: 0 auto;
    max-width: 50rem;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}
.heading{
    padding-bottom: 20px;
}
.para{
    text-align: left;
}
.div{
    display: flex;
}
.divd{
    padding:2% 4% 2% 0;
}
.profilePic{
    margin-bottom: 20px;
    width:50%;
    height: 50%;
}
.link{
    /* margin: 70px; */
    text-decoration:None;
    line-height: 50px;
    margin-left:0;
}
.link:hover{
    color:rgb(88, 123, 110);
}