input{
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
}
h5{
  padding-top: 4px;
}
button{
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  /* background: #f1f0f0; */
}
body{
  background-color: bisque;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
ul{
  padding-left: 0;
  padding-bottom: 4px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1%;
  margin-bottom: 0;
  background-color: aquamarine;
  color: rgb(88, 123, 110);
  text-align: center;
}