.product {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.countContainer {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.countContainer button {
    margin: 0 5px;
}

.centerContainer{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    text-align: center;
}